<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/app.css" />
</head>
<body>
    <menu>
        <a asp-controller="Home" asp-action="Index"> Home </a>
        <a asp-controller="TodoLists" asp-action="Index"> My Todo Lists </a>
        <partial name="_LoginPartial" />
    </menu>

    <p>
        @RenderSection("SubHeader", false)
    </p>

    <div>
        @RenderBody()
    </div>

    @RenderSection("Scripts", false)
</body>
</html>